.scd-scene {
  height: 100%;
  width: 100%;
  padding: 0;
  // background-image: url(./img/scd-scenes/testing.svg);
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: 350px;
  // background-origin: content-box;
  svg {
    width: 100%;
  }
  &__title {
    @include fz(alpha);
    @include font(primary);
    font-weight: 900;
    color: color(blue, blumine);

  }
}
.scd-canvas {
  width: 100%;
  position: absolute;
  top: calc(50% - 65px);
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));
  img {
    width: 0;
  }
}
.textured-image image {
  mix-blend-mode: multiply;
}
 
