[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// --- VISIBILITY --- //
.visible {
  display: block !important;
}
@media screen and (min-width: 48em) {
    .visible-md {
        display: block !important;
    }
}
@media screen and (min-width: 62em) {
    .visible-lg {
        display: block !important;
    }
}
@media screen and (min-width: 75em) {
    .visible-xl {
        display: block !important;
    }
}
.hidden {
  display: none;
}
@media screen and (min-width: 48em) {
    .hidden-md {
        display: none !important;
        visibility: hidden;
    }
}
@media screen and (min-width: 62em) {
    .hidden-lg {
        display: none !important;
        visibility: hidden;
    }
}
@media screen and (min-width: 75em) {
    .hidden-xl {
        display: none !important;
        visibility: hidden;
    }
}

// ---DISPLAY--- //
.invisible {
  visibility: hidden;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

// ---LAYOUT--- //
.pull-left {
  float: left!important;
}
.pull-right {
  float: right!important;
}

// Space Around
.space-around--half {
  margin-top: .5em;
  margin-bottom: .5em;
}
.space-around {
  margin-top: 1em;
  margin-bottom: 1em;
}
.space-around--double {
  margin-top: 2em;
  margin-bottom: 2em;
}

.block-center {
  margin-right: auto;
  margin-left: auto;
}
.clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// --- WIDTHS --- //
.width-50 {
  width: 50%;
}
.max-width-50 {
  max-width: 50%;
}
.max-md-width-50 {
  @include tablet {
    max-width: 50%;
  }
}
.max-width-75 {
  max-width: 75%;
}

// --- FLEX --- //
.flex {
  display: flex;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-justify-center {
  justify-content: center;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-align-center {
  align-items: center;
}

// ---BORDERS--- //
.border-white {
  border: 1px solid color(white, white);
}
.border-picton {
  border: 1px solid color(blue, picton);
}

// ---PADDING--- //
.pad-all-10 {
  padding: 10px;
}
.pad-all-20 {
  padding: 20px;
}

// ---MARGIN--- //
.margin-none {
  margin: 0;
}
.margin-all-20 {
  margin: 20px;
}
.margin-all-5 {
  margin: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-20 {
  margin-left: 10px;
}
