// --- Background Colors --- //
.bg-white {
  background: color(white, white);
}
.bg-pink {
  background: color(pink, rose);
}
.bg-blumine {
  background: color(blue, blumine) !important;
}
.bg-blue-light {
  background: color(blue, picton) !important;
}
.bg-gray-dark {
  background-color: color(gray, mineshaft);
}

.bg-gallery {
  background-color: color(gray, gallery);
}
