.l-callout {
	position: relative;
	padding: 10vh 2.5em;
	background-position: center center;
	background-size: cover;
	&__text {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		max-width: 450px;
		color: color(white, white);
		text-align: center;
	}
	&:after {
		@include absoluteCover;
	}
	&--bluedark {
		&:after {background: rgba(7, 20, 58, .8);}
	}
	&--bluelight {
		&:after {background: rgba(51, 108, 214, .7);}
	}
	&--red {
		&:after {background: rgba(169, 13, 49, .65);}
	}
}
