.info-table {
  @include fz(zeta);
	text-align: left;
	tr:nth-of-type(even) {
		background-color: color(blue, twilight);
	}
	th {
		background-color: color(blue, picton);
		color: color(white, white);
	}
	td,
	th{
		padding:10px;
	}
  &__callout {
    color: color(pink, rose);
  }
}
