.slide-question {
	background: rgba(0, 0, 0, .9);
	z-index: 100;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute; 
	&__question {
		color: color(white, white);
		text-align: center;
		@include font(primary);
		font-size: 15px;
	}
	&__answers {
		text-align: center;
		width: 100%;
		position: absolute;  
		top: 50%;
		margin: 0px;
	} 
	&__yes,
	&__no {
		color: color(white, white);
		text-decoration: none;
		padding: 10px 30px;
		border: 2px solid color(white, white);
		margin: 0px 20px;
		font-weight: bold;
	}
}